
/* Замена постера для ГОТИКА */
[href*="animes/8425-"] {
  --show-default: 0;
  --custom-image: url(https://i.postimg.cc/RFZ0w8rs/Gotika.jpg);
}
/* Замена постера для ЛЕТНЕЕ ВРЕМЯ */
[href*="animes/47194-"] {
  --show-default: 0;
  --custom-image: url(https://i.postimg.cc/X7SkkcJK/image.jpg);
}
/* Замена постера для ВОРОНА В ГАРЕМЕ */
[href*="animes/50590-"] {
  --show-default: 0;
  --custom-image: url(https://i.postimg.cc/5tTsdcxT/1.png);
}
/* Замена постера для ВОСХОЖДЕНИЕ В ТЕНИ */
[href*="animes/48316-"] {
  --show-default: 0;
  --custom-image: url(https://i.postimg.cc/7hmPhnQv/image.png);
}
/* Замена постера для ВГА */
[href*="animes/52193-"] {
  --show-default: 0;
  --custom-image: url(https://i.postimg.cc/fT8F2r9n/1.png);
}
/* Замена постера для Одинокий рокеп */
[href*="animes/47917-"] {
  --show-default: 0;
  --custom-image: url(https://i.postimg.cc/Fz4gN3YX/image.png);
}
/* Замена постера для Ликорис  */
[href*="animes/50709-"] {
  --show-default: 0;
  --custom-image: url(https://i.postimg.cc/nhSqP6Zm/600-900-1.png);
}
/* Замена постера для оверлорд  */
[href*="animes/48895-"] {
  --show-default: 0;
  --custom-image: url(https://i.postimg.cc/PJF8RDnj/poster-reserv.png);
}
/* Замена постера для чахождей  */
[href*="animes/48842-"] {
  --show-default: 0;
  --custom-image: url(https://i.postimg.cc/CKFLbK9H/image.jpg);
}
/* Замена постера для Тюрьма  */
[href*="animes/49596-"] {
  --show-default: 0;
  --custom-image: url(https://i.postimg.cc/T2QSP3cv/2.png);
}
/* Замена постера для черный призыватель */
[href*="animes/51064-"] {
  --show-default: 0;
  --custom-image: url(https://i.postimg.cc/fRHm31rL/Poster600x900-1.png);
}
