/*Акиба */
img[src*="/animes/original/52193."] {
  content: url(https://i.postimg.cc/fT8F2r9n/1.png);
}
/*Готика */
img[src*="/animes/original/8425."] {
  content: url(https://i.postimg.cc/RFZ0w8rs/Gotika.jpg);
}
/* Замена Постеры от мыла */
/*волейбол*/
/*Превью*/
img[src*="/animes/original/20583."] {
  content: url(https://i.postimg.cc/D0Kh1LS2/Poster1.jpg);
}
/*фулл*/
img[src*="/animes/original/20583."] {
  content: url(https://i.postimg.cc/D0Kh1LS2/Poster1.jpg);
}


