/*Акиба */
img[src*="/animes/original/52193."] {
  content: url(https://i.postimg.cc/fT8F2r9n/1.png);
}
/*Готика */
img[src*="/animes/original/8425."] {
  content: url(https://i.postimg.cc/RFZ0w8rs/Gotika.jpg);
}
/*Ликорис */
img[src*="/animes/original/50709."] {
  content: url(https://i.postimg.cc/nhSqP6Zm/600-900-1.png);
}
